
* { 
	outline: none; 
	box-sizing: border-box; 
  font-family: sans-serif;
  font-size: 2rem;
  background-color: #0019A8;
  color: white;
}


.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

